this is static pages index page
<br/><br/><br/><br/>

<%= render :partial => "reviews/slidepreview" %>

<a href="<%= new_contact_path %>">與我聯絡</a><br/>
<br/><br/><br/><br/>
<a href="<%= reviews_path %>">證言列表</a><br/>
<br/><br/><br/><br/>

<%= render :partial => "contacts/form" %>
